* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #2f364a;
    min-height: 100%;
    color: white;
    font-size: 14px;
    overflow: hidden;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
#canvas {
    min-height: 100%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    overflow: hidden;
}
.gun {
    position:absolute;
    background: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.gun::after {
    content: '';
    width: 25px;
    height: 1px;
    margin-top: 9px;
    background: inherit;
    position: absolute;
}
.bullet {
    position: absolute;
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 50%;
}
.target {
    position: absolute;
    background: white;
}
.summary {
    position: absolute;
    top: 0;
    font-size: 1.5em;
    left: 30px;
    top: 30px;
}
.simple-text,
.simple-text:hover,
.simple-text:active {
    text-decoration: none;
    color: white;
}
.margin-left {
    margin-left: 15px;
}